.Post {
    width: 100%;
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 500;
    padding: 4px;
}

.btn {
    margin-left: auto;
    justify-self: center;
    align-self: center;
}

.id {
    font-weight: 700;
}

.title {
    width: 100%;
    display: block;
}

.body {
    width: 100%;
    font-weight: 200;
}
