.PostList {
    width: 90%;
    margin: 2em auto;

    border: 2px solid var(--black-color);
    border-radius: var(--border-radius);
}

.post {
    width: 100%;
}


.even {
    background-color: var(--light-gray-color);
}

.odd {
    background-color: var(--white-color);
}

.title {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

